<%= form_with(model: note, class: "contents") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div>
<%= form.text_field :title , placeholder:"title", class:"w-full my-4 rounded-full bg-header/10 border-none ring-2 ring-header/50 focus:ring-header/50 focus:ring-2"%>
</div>

  <div class="my-4">
    
    <%= form.rich_text_area :content, style:"height:300px " %>
  </div>
  

  <div class="inline">
    <%= form.submit "Save note", class: "  w-full font-nunito rounded-lg py-3 px-5 bg-buttoncolor text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>




