
<div class="hidden lg:block">
<%=render "dashboardpartial/header"%>
</div>

<div class="lg:hidden ">
<%= render "mobile/header"%>
</div>

<div class="lg:hidden">
<%= render "mobile/noteindex"%>
</div>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2  justify-items-center px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Notes" %>

</div>

  <div class="grid grid-cols-5 gap-1  mt-4">

<div class="hidden lg:block">
<%= render "dashboardpartial/dashboardside"%>
</div>
  

<div class="hidden lg:block col-span-4 mx-4">
<%= render "notes/notepartial/noteindex"%>
</div>
</div>
  

