
  
    <% if notice.present? %>
      <p class="py-2 px-3 justify-items-center justify-center bg-green mb-5 text-greener font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>


<div class="flex ">
<div class="flex lg:m-6  m-4">
<%= link_to notes_path do%>
 <%=  svg_icon('arrow-left', class: 'lg:size-12 size-8 text-header bg-bgcolor rounded-full p-1 stroke-2 hover:bg-text hover:text-white') %>
 <%end%>
</div>

<div class="flex w-full mx-6 mt-8 lg:mx-36 lg:mt-16  gap-2  justify-end">
<div class="p-2 text-header bg-green/20 rounded-full  stroke-2 stroke-header hover:bg-green/50 hover:text-header">
    <%= link_to edit_note_path do%>
     <%=  svg_icon('edit', class: 'lg:size-8 size-6 stroke-2 ') %>
    <%end%>

  </div>

  <div class=" text-red bg-red/20 rounded-full   p-2  stroke-header hover:bg-red/35 hover:text-red "  >
    <%= button_to @note, method: :delete do%>
     <%=  svg_icon('trash-2', class: 'lg:size-8 size-6 stroke-2  ') %>
    <%end%>
</div>
</div>

</div>
<div class="my-10 mx-4 lg:mx-40">
<%= render partial: "notes/shownote", locals:{note: @note}%>
</div>


</div>

    
