
<div class="flex items-center justify-center h-screen ">
<div>
<h2 class="text-3xl font-nunito font-bold tracking-wide text-text text-center my-2">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class=" my-2">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"enter your email", class:" lg:w-96 lg:text-xl w-80 caret-text focus:caret-text mt-2 drop-shadow-md mb-2 py-3 font-nunito  rounded-2xl bg-bgcolor border-none ring-0 ring-deskbg focus:ring-buttoncolor/10 focus:ring-2" %>
  </div>

  <div class=" mt-4">
    <%= f.submit "Send me reset link" , class:"lg:w-96 w-80 cursor-pointer font-nunito font-light px-4 p-3 bg-buttoncolor text-xl tracking-tight drop-shadow-lg rounded-md text-white"%>
  </div>
<% end %>
<div >
<%= render "devise/shared/links" %>
</div>
</div>
</div>