
<div class="flex items-center justify-center h-screen ">
<div>
<h2 class="text-3xl font-nunito font-bold tracking-wide text-text text-center my-2">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="ml-8">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"enter your email", class:" w-80 my-4 rounded-full bg-header/10 border-none ring-2 ring-header/50 focus:ring-header/50 focus:ring-2" %>
  </div>

  <div class="ml-8">
    <%= f.submit "Send me reset link" , class:"w-80 font-nunito font-light px-4 p-2 bg-buttoncolor text-xl tracking-tight drop-shadow-lg rounded-md text-white"%>
  </div>
<% end %>
<div class="ml-8">
<%= render "devise/shared/links" %>
</div>
</div>
</div>