



<div class=" flex items-center justify-center ">
<div>

<div>
<p class="font-extrabold lg:ml-40 ml-24  lg:text-7xl text-5xl tracking-tighter mb-6 lg:mt-16 mt-36">NoteMe</p>
</div>

<div class="lg:w-4/5 lg:ml-24">
<h2 class="text-3xl lg:text-4xl  font-nunito  tracking-wide text-header text-center mb-10 mx-2">Good to see you, again! &#128525; </h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="lg:ml-28 ml-10">
 
    <%= f.email_field :email, autofocus: true, autocomplete: " email", placeholder:"your email", class:" lg:text-xl lg:w-full w-80 caret-text focus:caret-text drop-shadow-md  mb-4 mt-2 py-3  font-nunito  rounded-2xl bg-bgcolor border-none ring-0 ring-deskbg focus:ring-buttoncolor/10 focus:ring-2" %>
  </div>

  <div class="lg:ml-28 ml-10">
    
    <%= f.password_field :password, autocomplete: "current-password" , placeholder:"current password", class:" lg:text-xl lg:w-full w-80 caret-text focus:caret-text drop-shadow-md  mb-4 mt-2 py-3  font-nunito  rounded-2xl bg-bgcolor border-none ring-0 ring-deskbg focus:ring-buttoncolor/10 focus:ring-2" %>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class=" lg:ml-28 ml-10 flex gap-2">
      <%= f.check_box :remember_me, class:" lg:text-xl  caret-text focus:caret-text drop-shadow-md  mb-4 mt-2 p-3  font-nunito  rounded-2xl bg-bgcolor border-none ring-0 ring-deskbg focus:ring-buttoncolor/10 focus:ring-2" %>
     <p class="font-nunito tracking-tight font-light text-black ">Remember me</p>
    </div>
  <% end %>

  <div class="lg:ml-28 ml-10 actions">
    <%= f.submit "Sign in", class:"lg:w-full cursor-pointer my-4 w-80 bg-buttoncolor p-3 text-white text-xl font-nunito font-light tracking-tight drop-shadow-lg rounded-md" %>
  </div>

<div class="lg:ml-28 ml-10 actions">
<p class="font-nunito tracking-tight font-light text-header/55">Don't have an account?</p>
</div>
<% end %>
<div class="lg:ml-28 ml-10 actions">
<%= render "devise/shared/links" %>
</div>
</div>
</div>